.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
    width: 592px;
    height: 100vh;
    padding: 20px;
    background-color: #33333323;

}

.main_header{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: black;
}

.sub_header{

}