.price {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e7ddddfb;
}

.car {
    display: inline-flex;
    width: 400px;
    height: 300px;
    margin-left: 10px;
}

.bike {
    display: inline-flex;
    width: 300px;
    height: 300px;
    margin-left: 10px;
}
.truck {
    display: inline-flex;
    width: 400px;
    height: 300px;
    margin-left: 10px;
}

.h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.card {
    background-color: darkgrey;
    border-radius: 10px;
    width:350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 
    gap: 5px;
    margin: 10px;
}

.card:hover {
    background-color: #333;
    color: white;
}

.card-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
    height: 40px;
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: bold;
}

.card-btn:hover {
    background-color: #0056B3;
}
