.App {
  background-color: #f8f8f869;
}

body{
  font-family: system-ui, -apple-system, sans-serif;
}

.footer{
  background-color: #333;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  justify-content: center;
}

