body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.main-div {
    background-image: url('E:\3Rd sem\GUI\park\clone 0.2\GUI-Parking-System\Vehicle_Parking_System\Web_Application\parking-frontend\src\componets\images\park8.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.booking_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* outline: 1px solid white; */
    /* background-color: rgb(19, 4, 58); */
    background: linear-gradient(180deg,#07094259, #1f2c705b);
    padding: 30px;
    border-radius: 5px;
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
    width: 400px;
    height: 400px;
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.booking_form:hover {
    background-color: #14010113;
    outline: 1px solid white;
    color: white;

}

.booking_form label {
    font-size: 16px;
    font-weight: bold;
    color: #ffffff; 
    margin-bottom: 5px;
}

.booking_form input,
.booking_form select {
    padding: 10px;
    font-size: 11px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    outline: none;
    width: 100%; 
    box-sizing: border-box; 
    transition: border-color 0.3s ease; 
}

.booking_form input:focus,
.booking_form select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

.bool_btn {
    max-width: 400px; 
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 20px;
    background-color: #06315f;
    font-size: larger;
    font-weight: bolder;
    cursor: pointer;
    color: #b3b1b1;
}

.bool_btn:hover {
    background-color: #023163;
    color: #ccc;
}
