body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

.home {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.navBar {
    background-color: #ffffff;
}

.home-header {
    position: relative;
    text-align: center;
}

.parking {
    width: 100vw;
    height: auto;
    object-fit: cover;
}

.book-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    font-size: 25px;
    background-color: #1e90ff;
    color: white;
    border-width: 2px;
    border-color: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}

.book-btn:hover {
    background-color: #0056b3;
    scale: 1.05;
    border-width: 2px solid white;

}

.header-div {
    text-align: center;
    margin-top: 20px;
    color: white;
}

.book-btn:hover {
    background-color: #0056b3;
    scale: 1.05;
    border: 2px solid white;
}

.header1 {
    font-size: 2.5rem;
    color: #004AAD;
    font-weight: bold;
}

.para1 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #666;
    margin-top: 10px;
}

.home-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.card img {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
}

.card-btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.card-btn:hover {
    background-color: #0056b3;
}

.card-btn-settle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card p {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}

@media (max-width: 768px) {
    .home-body {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 90%;
        margin: 20px 0;
    }

    .book-btn {
        font-size: 20px;
    }
}
