footer {
    display: block;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: wheat;
    background-color: rgba(31, 30, 30, 0.712);
    padding: 50px 50px 50px 50px; /* top, right, bottom, left */
}
